{% extends '../base.html' %}
{%load mathfilters %}

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board">
				<form id="search_form" action="/board" method="post">
					{% csrf_token %}
					<input type="text" id="kwd" name="kwd" value="">
					<input type="submit" value="찾기">
				</form>
				<table class="tbl-ex">
					<tr>
						<th>번호</th>
						<th>제목</th>
						<th>글쓴이</th>
						<th>조회수</th>
						<th>작성일</th>
						<th>&nbsp;</th>
					</tr>				
					{% for oneboard in boardlist %}
					<tr>
						<td>{{ oneboard.no }}</td> <!-- | sub: forloop.counter | add:1 -->
						<td style="text-align:left; padding-left:{{30|mul:oneboard.depth}}px">
							{% if oneboard.depth > 0 %}
								<img src="/assets/images/reply.png" width = 20px; height=20px>
							{% endif %}
							<a href="/board/view?no={{ onboard.no }}"> {{oneboard.title}}</a>
						</td>
						<td>{{oneboard.name}}</td>
						<td>{{oneboard.hit}}</td>
						<td>{{oneboard.reg_rate }}</td> <!-- | date: 'Y-m-d H:i:s' -->
						<td>
							{% if request.seesion.authuser is not None %}
								{% if oneboard.no == request.session.authuser.no %}
									<a href="/board/delete?no={{ oneboard.no }}" class="del">삭제</a>
								{% endif %}
							{% endif %}
						</td>
					</tr>
					{% endfor %}

				</table>

				<!-- pager 추가 : for 문 돌리기 -->
				<div class="pager">
					<ul>
						<li><a href="/board?p={{paginator.prvpage}} & kwd = {{ keyword }}">◀</a></li>
						{% for i in paginator.paging %}
							{% if paginator.curpage == i %}
								<li class="selected">{{i}}</li>
							{% elif i > paginator.pagecount %}
								<li>{{i}}</li>
							{% else %}
								<li><a href="/board?p={{i}} & kwd = {{keyword}}">{{i}}</a></li>
							{% endif %}
						{% endfor %}

						<li><a href="/board?p={{paginator.nextpage}} & kwd = {{keyword}}">▶</a></li>
					</ul>
				</div>

				<!-- pager 추가 -->
				
				<div class="bottom">
					{% if reqeust.session.authuser.no is not None %}
						<a href="/board" id="new-book">글쓰기</a>
					{% endif %}
				</div>				
			</div>
{% endblock %}