{% extends '../base.html' %} <!-- 한칸 위 디렉토리로 올라갈때는 ../ 이고 현재위치는 .(점) -->

{% block css_link %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td>{{result.title}}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<div class="view-content">
								{{ result.contents | linebreaksbr }}
							</div>
						</td>
					</tr>
				</table>
				<div class="bottom">
					<a href="/board">글목록</a>
					{% if result.bno == request.session.authuser.no %}
						<a href="/board/updateform?no={{ result.ano }}">글수정</a>
					{% endif %}

					{% if request.session.authuser is not None %}
						<a href="/board/replyform?no={{ result.bno }}">답글</a>
					{% endif %}
				</div>
			</div>
{% endblock %}